* {
box-sizing: border-box;
}

.banner {
  background-color: 84AFDB#;
  color: 013C51#;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font: helvetica;
}

.side {
  background-color: #3D80AD;
  color: #E7E7E7;
  width: 25%;
  float: left;
  padding: 15px;
  text-align: center;
  font: helvetica;
}

.main {
  background-color: #BDDAFF;
  width: 75%;
  float: left;
  padding: 15px;
  font: helvetica;
}
