* {
box-sizing: border-box;
}

.banner {
  background-color: #84AFDB;
  color: #013C51;
  width: 100%;
  padding: 20px;
  font-size: 24px;
  font-family: "Verdana";
  text-align: center;
}

.side {
  background-color: #3D80AD;
  color: #E7E7E7;
  width: 25%;
  float: left;
  padding: 15px;
  text-align: center;
  font-family: "Verdana";
}

.main {
  background-color: #BDDAFF;
  width: 75%;
  float: left;
  padding: 15px;
  font-family: "Verdana";
}
